---
import Logo from "../components/Logo.astro"
import Menu from "../components/Menu.astro"
---
<header>
    <nav class="navbar">
        <Logo/>
        <Menu/>
    </nav>
</header>
<style>
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--text-color-500);
        padding: 1rem 5.6rem;
    }
</style>