---
const { title, des} = Astro.props
---
<div class="cardProject">
    <p>{title}</p>
    <p>{des}</p>
</div>
<style>
    .cardProject{
       background-image: url("../../public/img/mision.png");
       background-size: cover;
       background-repeat: no-repeat;
       width: 100%;
       aspect-ratio: 3/3;
       object-fit: contain;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: flex-start;
    }
</style>