
<div>
    <ul class="menu">
            <li class="menu-iten"><a href="/" class="menu-link">Inicio</a></li>
            <li class="menu-iten"><a href="#about" class="menu-link">Acerca de nosotros</a></li>
            <li class="menu-iten"><a href="#project" class="menu-link">Proyectos</a></li>
            <li class="menu-iten"><a href="#services" class="menu-link">Servicios</a></li>
            <li class="menu-iten"><a href="#contact" class="menu-link">Contáctanos</a></li>
    </ul>
</div>
<style>
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-family: var(--text);
    }
    .menu-link{
        color: var(--white-500);
        text-decoration: none;
        margin-left: 1.8rem;
    }

</style>