<div>
    <ul class="menu">
            <li class="menu-iten"><a href="/" class="menu-link">Inicio</a></li>
            <li class="menu-iten"><a href="#about" class="menu-link">Acerca de nosotros</a></li>
            <li class="menu-iten"><a href="#project" class="menu-link">Proyectos</a></li>
            <li class="menu-iten"><a href="#services" class="menu-link">Servicios</a></li>
            <li class="menu-iten"><a href="#contact" class="menu-link">Contáctanos</a></li>
    </ul>
</div>